@inherits RazorComponentBase
@implements IDisposable
<Field HasAddons="true" IsExpanded="true">
    <Control IsExpanded="true">
        <input class="input" placeholder="搜索音乐、歌手、歌词、用户" @ref="_searchElement" />
    </Control>
    <Control>
        <Button>
            <Icon IconClass="fa fa-search"></Icon>
        </Button>
    </Control>
</Field>

@if (_searchSuggestModel?.order != null)
{
    <div class="position-absolute w-100">
        <Dropdown IsActive>

            <MenuSlot>
                <ul class="drop-suggest">
                    @foreach (var order in _searchSuggestModel.order)
                {
                    <li>
                        <div>
                            <Icon IconClass="@m_orderNames[order].Value"></Icon>
                            @m_orderNames[order].Key
                        </div>
                        <ul class="@B.ML4 count-desc">
                            @{
                                var items = _searchSuggestModel[order];
                                if (items?.Length > 0)
                                {
                                    foreach (Models.INameIdModel item in items)
                                    {
                                        <li class="@B.Join(B.MT2,B.P2 ) text-truncate hover-list-item" @onclick="@(()=>SuggestItemClickAsync(item))">
                                            <a class="w-100" >@item.name</a>
                                        </li>
                                    }
                                }
                            }
                        </ul>
                    </li>
                }
            </ul>
        </MenuSlot>
    </Dropdown>

</div>
}