@inherits LayoutComponentBase

@inject Services.IHttpRequestService HttpRequestService
@inject AuthenticationStateProvider ApiAuthenticationStateProvider
@inject ToastService ToastService
@implements IDisposable
@using Microsoft.AspNetCore.Components.Authorization
<div>
    <div class="p-2 bg-dark text-white">
        <div class="columns p-2 is-mobile is-vcentered is-variable is-1">
            <div class="column is-narrow"> <a class="js-user-quick-show" @onclick="ShowUserQuickView"> <Icon IconClass="fa fa-bars"></Icon></a></div>
            <div class="column is-narrow">
                <a href="/">
                    <div class="columns is-vcentered is-variable is-1">
                        <div class="column is-narrow">
                            <Image Size="@Size.Square32">
                                <img src="/asset/Icon.png" />
                            </Image>
                        </div>
                        <div class="column is-hidden-mobile">
                            <h3 class="title has-text-white-bis is-3">网易云音乐</h3>
                        </div>

                    </div>

                </a>
            </div>


            <div class="column">  <NeteaseCloundMusicMobile.Client.Components.HeaderSearch></NeteaseCloundMusicMobile.Client.Components.HeaderSearch></div>
            <div class="column is-narrow m-2">

                <div class="columns is-mobile is-vcentered is-variable is-1">
                    <div class="column is-narrow">
                        <AuthorizeView>

                            <Authorized>
                                <CascadingValue Value="@context" Name="AuthenticationState">
                                 
                                    <div class="d-flex align-items-center" >
                                        <div>
                                            <Image Size="Size.Square32">
                                                <img class="@B.Join(B.Rounded, B.TooltipBottom)"
                                                     data-tooltip="@context.User.FindFirst(System.Security.Claims.ClaimTypes.Name).Value"
                                                     src="@context.User.FindFirst(System.Security.Claims.ClaimTypes.Uri).Value"/>
                                            </Image>
                                        </div>
                                        <a  class="text-center m-2" @onclick="LoginOutAsync">退出</a>
                                    </div>
                                </CascadingValue>
                            </Authorized>
                            <NotAuthorized>
                                <div class="columns is-mobile is-variable is-1">
                                    <div class="column"><a>注册</a></div>
                                    <div class="column"> <a @onclick="ShowLoginModal">登录</a></div>
                                </div>
                               
                            </NotAuthorized>

                        </AuthorizeView>
                    </div>
                    <div class="column is-hidden-mobile">
                        <div class="d-flex align-items-center">
                            <div class="w-50 text-nowrap"><a href="mailto:t1246539858@outlook.com">建议</a></div>
                            <div class="w-50 text-nowrap"> <a href="https://github.com/trycatchfinnally/NeteaseCloundMusicMobile" target="_blank">查看源</a></div>
                        </div>
                    </div>
                   
                </div>


            </div>


        </div>

    </div>

    <CascadingValue Value="_showLoginModalAction" Name="ShowLoginModalAction" IsFixed="true">
        @Body

    </CascadingValue>

    <div class="p-2">
        <footer class="footer">

            <div class="content text-center"> <strong>网易云音乐网页版</strong>使用Blazor WebAssemly开发，欢迎使用</div>

        </footer>
    </div>
    <NeteaseCloundMusicMobile.Client.Components.BottomControlPart></NeteaseCloundMusicMobile.Client.Components.BottomControlPart>
</div>
<div class="login-modal-root">
    <Modal IsActive="_loginModalShow" ShowClose="false">
        <div class="p-4">
            <Level>
                <LevelLeft><div></div></LevelLeft>
                <LevelRight>
                    <Button IsLight="true" Color="Color.Ghost" @onclick="()=>_loginModalShow=false">
                        <Icon IconClass="fa fa-times"></Icon>
                    </Button>
                </LevelRight>
            </Level>
            <div>
                <Image Ratio="Ratio.Ratio2by1">
                    <img src="/asset/login_phone.scale-200.png" />
                </Image>
            </div>
            <EditForm Model="_loginForm" OnValidSubmit="LoginAsync">
                <DataAnnotationsValidator />

                <Field>
                    <Control HasIconsLeft="true">
                        <Input placeholder="请输入手机号" @bind-Value="_loginForm.Phone" />
                        <Icon IsLeft="true" IconClass="fa fa-mobile"></Icon>
                    </Control>
                    <Help>
                        <ValidationMessage For="()=>_loginForm.Phone"></ValidationMessage>
                    </Help>
                </Field>
                <Field>
                    <Control HasIconsLeft="true">
                        <Input placeholder="请输入密码" @bind-Value="_loginForm.PassWord" type="password" autocomplete="on" />
                        <Icon IsLeft="true" IconClass="fa fa-lock"></Icon>
                    </Control>
                    <Help>
                        <ValidationMessage For="()=>_loginForm.PassWord"></ValidationMessage>
                    </Help>
                </Field>
                <Field>
                    <div class="@B.Flex @B.AlignContentCenter @B.AlignItemsCenter">
                        <Button Color="Color.Danger" type="submit" class="@B.FlexGrow1">登录</Button>
                    </div>
                </Field>
                <Field>
                    <div class="@B.Flex @B.AlignContentCenter @B.AlignItemsCenter">
                        <Button Color="Color.Link" IsLight="true" IsOutlined="true" class="@B.FlexGrow1">注册</Button>
                    </div>
                </Field>
            </EditForm>
        </div>

    </Modal>
</div>


<div class="user-quick-root">
    <Quickview IsLeft @ref="_userQuickview" TriggerSelector=".js-user-quick-show" HeaderText="菜单项">
        <BodySlot>
            <div class="@B.M2">
                <Menu>
                    <MenuLabel>推荐</MenuLabel>
                    <MenuList>
                        <MenuItem>
                            <MenuLink href="/playlist/list">
                                <Icon IconClass="fa fa-music"></Icon>
                                歌单
                            </MenuLink>
                        </MenuItem>
                        <MenuItem>
                            <MenuLink href="/">
                                <Icon IconClass="iconfont icon-shouyinji-xian"></Icon>
                                私人FM
                            </MenuLink>
                        </MenuItem>
                        <MenuItem>
                            <MenuLink href="/video">
                                <Icon IconClass="fa fa-video-camera"></Icon>
                                视频
                            </MenuLink>
                        </MenuItem>
                        <MenuItem>
                            <MenuLink href="/monment">
                                <Icon IconClass="fa fa-users"></Icon>
                                朋友
                            </MenuLink>
                        </MenuItem>
                    </MenuList>
                    <MenuLabel>

                        <div>
                            <Level IsMobile>
                                <LevelLeft>创建的歌单</LevelLeft>
                                <LevelRight>
                                    <a class="el-link">
                                        <Icon IconClass="fa fa-plus-circle"></Icon>
                                    </a>
                                </LevelRight>
                            </Level>
                        </div>
                    </MenuLabel>
                    <MenuList>
                        @foreach (var item in _userPlaylist)
                        {
                            <MenuItem>
                                <MenuLink href="@string.Concat("/playlist/",item.id)">
                                    <div class="text-truncate">
                                        <Icon IconClass="fa fa-music"></Icon>
                                        @item.name
                                    </div>
                                </MenuLink>
                            </MenuItem>
                        }
                    </MenuList>
                </Menu>
            </div>
        </BodySlot>
    </Quickview>


</div>

<Backtop Bottom="200"></Backtop>


<NeteaseCloundMusicMobile.Client.Components.TrackerChangedTooltip></NeteaseCloundMusicMobile.Client.Components.TrackerChangedTooltip>