@inherits LayoutComponentBase

@inject Services.IHttpRequestService HttpRequestService
@inject AuthenticationStateProvider ApiAuthenticationStateProvider
@inject ToastService ToastService
@implements IDisposable
@using Microsoft.AspNetCore.Components.Authorization
<div>
    <div class="@B.P2 @B.BackgroundDark @B.TextWhite">
        <Columns IsMobile="true" IsVcentered="true" Gap="@Gap.Gap1" class="p-2">
            <BulmaRazor.Components.Column IsNarrow="true">
                <a class="js-user-quick-show" @onclick="ShowUserQuickView">  <Icon IconClass="fa fa-bars"></Icon></a>
            </BulmaRazor.Components.Column>
            <BulmaRazor.Components.Column IsNarrow="true">
                <a href="/">
                    <Columns Gap="@Gap.Gap1" IsVcentered="true">
                        <Column IsNarrow="true">
                            <Image Size="@Size.Square32">
                                <img src="/asset/Icon.png" />
                            </Image>
                        </Column>
                        <Column class="@B.HiddenMobile">

                            <Title class="@B.TextWhiteBis">网易云音乐</Title>

                        </Column>
                    </Columns>
                </a>
            </BulmaRazor.Components.Column>
            <BulmaRazor.Components.Column>
                <NeteaseCloundMusicMobile.Client.Components.HeaderSearch></NeteaseCloundMusicMobile.Client.Components.HeaderSearch>
            </BulmaRazor.Components.Column>
            <BulmaRazor.Components.Column IsNarrow="true">
                <Columns IsMobile="true" IsVcentered="true" Gap="@Gap.Gap1">
                    <Column IsNarrow="true">

                        <AuthorizeView>

                            <Authorized>
                                <CascadingValue Value="@context" Name="AuthenticationState">
                                    <Columns IsMobile="true" Gap="@Gap.Gap1" class="@B.AlignItemsCenter">
                                        <Column>
                                            <Image Size="Size.Square32">
                                                <img class="@B.Join(B.Rounded,B.TooltipBottom)"
                                                     data-tooltip="@context.User.FindFirst(System.Security.Claims.ClaimTypes.Name).Value"
                                                     src="@context.User.FindFirst(System.Security.Claims.ClaimTypes.Uri).Value" />
                                            </Image>
                                        </Column>
                                        <Column>
                                            <a @onclick="LoginOutAsync">退出</a>
                                        </Column>
                                    </Columns>
                                </CascadingValue>
                            </Authorized>
                            <NotAuthorized>
                                <Columns IsMobile="true" Gap="@Gap.Gap1">

                                    <Column> <a>注册</a></Column>
                                    <Column>   <a @onclick="ShowLoginModal">登录</a></Column>
                                </Columns>
                            </NotAuthorized>

                        </AuthorizeView>

                    </Column>
                    <Column class="@B.HiddenMobile">
                        <Columns IsMobile="true" Gap="@Gap.Gap1">
                            <Column> <a href="mailto:t1246539858@outlook.com">建议</a></Column>
                            <Column>   <a>反馈</a></Column>

                        </Columns>
                    </Column>
                </Columns>

            </BulmaRazor.Components.Column>
        </Columns>


    </div>

    <CascadingValue Value="_showLoginModalAction" Name="ShowLoginModalAction">
        @Body

    </CascadingValue>

    <div class="@B.P2">
        <Footer>
            <Content class="@B.TextCentered">
                <strong>网易云音乐网页版</strong>使用Blazor WebAssemly开发，欢迎使用
            </Content>
        </Footer>
    </div>
    <NeteaseCloundMusicMobile.Client.Components.BottomControlPart></NeteaseCloundMusicMobile.Client.Components.BottomControlPart>
</div>
<div class="login-modal-root">
    <Modal IsActive="_loginModalShow" ShowClose="false">
        <div class="@B.P4">
            <Level>
                <LevelLeft><div></div></LevelLeft>
                <LevelRight>
                    <Button IsLight="true" Color="Color.Ghost" @onclick="()=>_loginModalShow=false">
                        <Icon IconClass="fa fa-times"></Icon>
                    </Button>
                </LevelRight>
            </Level>
            <div>
                <Image Ratio="Ratio.Ratio2by1">
                    <img src="/asset/login_phone.scale-200.png" />
                </Image>
            </div>
            <EditForm Model="_loginForm" OnValidSubmit="LoginAsync">
                <DataAnnotationsValidator />

                <Field>
                    <Control HasIconsLeft="true">
                        <Input placeholder="请输入手机号" @bind-Value="_loginForm.Phone" />
                        <Icon IsLeft="true" IconClass="fa fa-mobile"></Icon>
                    </Control>
                    <Help>
                        <ValidationMessage For="()=>_loginForm.Phone"></ValidationMessage>
                    </Help>
                </Field>
                <Field>
                    <Control HasIconsLeft="true">
                        <Input placeholder="请输入密码" @bind-Value="_loginForm.PassWord" type="password" />
                        <Icon IsLeft="true" IconClass="fa fa-lock"></Icon>
                    </Control>
                    <Help>
                        <ValidationMessage For="()=>_loginForm.PassWord"></ValidationMessage>
                    </Help>
                </Field>
                <Field>
                    <div class="@B.Flex @B.AlignContentCenter @B.AlignItemsCenter">
                        <Button Color="Color.Danger" type="submit" class="@B.FlexGrow1">登录</Button>
                    </div>
                </Field>
                <Field>
                    <div class="@B.Flex @B.AlignContentCenter @B.AlignItemsCenter">
                        <Button Color="Color.Link" IsLight="true" IsOutlined="true" class="@B.FlexGrow1">注册</Button>
                    </div>
                </Field>
            </EditForm>
        </div>

    </Modal>
</div>


<div class="user-quick-root">
    <Quickview IsLeft @ref="_userQuickview" TriggerSelector=".js-user-quick-show" HeaderText="菜单项">
        <BodySlot>
            <div class="@B.M2">
                <Menu>
                    <MenuLabel>推荐</MenuLabel>
                    <MenuList>
                        <MenuItem>
                            <MenuLink href="/playlist/list">
                                <Icon IconClass="fa fa-music"></Icon>
                                歌单
                            </MenuLink>
                        </MenuItem>
                        <MenuItem>
                            <MenuLink href="/">
                                <Icon IconClass="iconfont icon-shouyinji-xian"></Icon>
                                私人FM
                            </MenuLink>
                        </MenuItem>
                        <MenuItem>
                            <MenuLink href="/video">
                                <Icon IconClass="fa fa-video-camera"></Icon>
                                视频
                            </MenuLink>
                        </MenuItem>
                        <MenuItem>
                            <MenuLink href="/monment">
                                <Icon IconClass="fa fa-users"></Icon>
                                朋友
                            </MenuLink>
                        </MenuItem>
                    </MenuList>
                    <MenuLabel>

                        <div>
                            <Level IsMobile>
                                <LevelLeft>创建的歌单</LevelLeft>
                                <LevelRight>
                                    <a class="el-link">
                                        <Icon IconClass="fa fa-plus-circle"></Icon>
                                    </a>
                                </LevelRight>
                            </Level>
                        </div>
                    </MenuLabel>
                    <MenuList>
                        @foreach (var item in _userPlaylist)
                        {
                            <MenuItem>
                                <MenuLink href="@string.Concat("/playlist/",item.id)">
                                    <div class="text-truncate">
                                        <Icon IconClass="fa fa-music"></Icon>
                                        @item.name
                                    </div>
                                </MenuLink>
                            </MenuItem>
                        }
                    </MenuList>
                </Menu>
            </div>
        </BodySlot>
    </Quickview>


</div>

<Backtop Bottom="200"></Backtop>