@page "/"
@inherits RazorComponentBase

<Pageloader IsActive="_pageLoading"></Pageloader>

@if (_displayBanners?.Count >= 3)
{
    <div style="        background: url(./asset/CarouselBackground.jpg) center center;
        background-size: 6000px
">
        <Container>
            <Carousel Options="_carouselOptions" class="overflow-hidden">
                @foreach (var item in _displayBanners)
                {

                    <Image IsFullwidth="true" @onclick="()=>CarouseClick(item)">
                        <img src="@item.imageUrl" />
                    </Image>

                }
            </Carousel>
        </Container>
    </div>


}

<Columns IsMobile="true" class="@B.M4">
    <Column Size="@Size.OneThird">
        <Columns IsMobile="true" IsGapless="true">
            <Column>
                <div class="cursor-pointer">
                    <Columns IsGapless="true" IsVcentered="true" IsCentered="true">
                        <Column IsNarrow="true">
                            <div class="@B.TextDangerDark @B.M2  @B.FlexDirectionColumn @B.Flex @B.AlignItemsCenter @B.JustifyContentCenter circle-button text-2em">
                                <div>
                                    <Icon IconClass="iconfont icon-shouyinji-xian large-fontsize"></Icon>
                                </div>
                            </div>
                        </Column>
                        <Column>
                            <div class="@B.TextLeftTablet @B.TextCenteredMobile @B.TextDark @B.TextWeightBold ">私人FM</div>
                            <div class="@B.HiddenMobile">享受你的音乐时光</div>
                        </Column>
                    </Columns>
                </div>
            </Column>
            <Column IsNarrow="true">
                <Divider IsVertical="true" class="h-100"></Divider>
            </Column>
        </Columns>

    </Column>

    <Column Size="@Size.OneThird">
        <Columns IsMobile="true" IsGapless="true">

            <Column>
                <a href="/everydayrecommend">
                    <Columns IsGapless="true" IsVcentered="true" IsCentered="true">
                        <Column IsNarrow="true">
                            <div class="@B.TextDangerDark @B.M2  @B.FlexDirectionColumn @B.Flex @B.AlignItemsCenter @B.JustifyContentCenter circle-button text-2em">
                                <div>@DateTime.Today.Day</div>
                            </div>
                        </Column>
                        <Column>
                            <div class="@B.TextLeftTablet @B.TextCenteredMobile @B.TextDark @B.TextWeightBold ">每日推荐</div>
                            <div class="@B.HiddenMobile">根据你的口味生成</div>
                        </Column>
                    </Columns>
                </a>
            </Column>
            <Column IsNarrow="true">
                <Divider IsVertical="true" class="h-100"></Divider>

            </Column>
        </Columns>
    </Column>

    <Column Size="@Size.OneThird">
        <a href="/toplist">
            <Columns IsGapless="true" IsVcentered="true" IsCentered="true">
                <Column IsNarrow="true">
                    <div class="@B.TextDangerDark @B.M2  @B.FlexDirectionColumn @B.Flex @B.AlignItemsCenter @B.JustifyContentCenter circle-button text-2em">
                        <div>
                            <Icon IconClass="iconfont icon-paihangbang large-fontsize"></Icon>
                        </div>
                    </div>
                </Column>
                <Column>
                    <div class="@B.TextLeftTablet @B.TextCenteredMobile @B.TextDark @B.TextWeightBold  ">排行榜</div>
                    <div class="@B.HiddenMobile">最热音乐榜</div>
                </Column>
            </Columns>
        </a>
    </Column>
</Columns>



@if (_recommendPlaylist?.Count > 0)
{
    <Level IsMobile="true" class="@B.M4">
        <LevelLeft>
            <IconText>
                <Icon IconClass="fa fa-calendar-check-o"></Icon>
                <span>推荐歌单</span>
            </IconText>
        </LevelLeft>
        <LevelRight>
            <Button IsLight="true" Color="Color.Ghost" @onclick="()=>MoreClick(1)">更多&lt;</Button>
        </LevelRight>
    </Level>

    <Columns class="@B.M4" IsMobile="true" IsMultiline="true">
        @foreach (var item in _recommendPlaylist)
        {
            <div class=" col-12 col-md-6 col-lg-4 col-xl-3">
                <a href="/playlist/@item.id" class=" @B.PB3">
                    <NeteaseCloundMusicMobile.Client.Components.PlayListCardItem PicUrl="@item.picUrl" CountIconClass="fa fa-headphones"
                                                                                 Count="@item.playcount" FooterTitle="@item.name" FooterDescription="@item.copywriter">

                    </NeteaseCloundMusicMobile.Client.Components.PlayListCardItem>
                </a>
            </div>


        }
    </Columns>
}


@if (_privateContentItems?.Count > 0)
{
    <Level IsMobile="true" class="@B.M4">
        <LevelLeft>
            <IconText>
                <Icon IconClass="fa fa-bell"></Icon>
            </IconText>
            <span>独家放松</span>
        </LevelLeft>
        <LevelRight>
            <Button IsLight="true" Color="Color.Ghost" @onclick="()=>MoreClick(2)">更多&lt;</Button>
        </LevelRight>
    </Level>
    <Columns>
        @foreach (var item in _privateContentItems.Take(3))
        {
            <Column Size="Size.OneThird">
                <Card>
                    <CardImage>
                        <Image>
                            <img src="@item.picUrl" />
                        </Image>
                    </CardImage>
                    <CardFooter>
                        <div class="@B.PT1 w-100 ">
                            <div class="@B.TextLeft    @B.TextDark @B.TextWeightBold    overflow-hidden text-nowrap text-overflow-ellipsis">@item.name</div>
                            <div class="@B.TextLeft text-nowrap overflow-hidden text-overflow-ellipsis">@item.copywriter</div>
                        </div>
                    </CardFooter>
                </Card>
            </Column>
        }
    </Columns>
}

@if (_newSongApiResultItems?.Count > 0)
{
    <Level IsMobile="true" class="@B.M4">
        <LevelLeft>
            <IconText>
                <Icon IconClass="fa fa-music"></Icon>
            </IconText>
            <span>新歌速递</span>
        </LevelLeft>
        <LevelRight>
            <Button IsLight="true" Color="Color.Ghost" @onclick="()=>MoreClick(3)">更多&lt;</Button>
        </LevelRight>
    </Level>
    <Columns IsMultiline="true">
        @foreach (var item in _newSongApiResultItems.Take(12))
        {
            <Column Size="Size.Half">
                <div class="hover-list-item">
                    <Columns IsMobile="true" @onclick="()=>PlayAsync(item)">
                        <Column IsNarrow="true">
                            <Image Size="Size.Square48">
                                <img src="@item.album.picUrl" />
                            </Image>
                        </Column>
                        <Column>
                            <div>
                                <div class="text-nowrap overflow-hidden text-overflow-ellipsis ">@item.name</div>
                                @if (item.artists?.Count > 0)
                                {
                                    <div class="@B.Flex  ">
                                        @foreach (var artist in item.artists)
                                        {
                                            <div class="@B.PR2">@artist.name</div>
                                        }
                                    </div>
                                }
                            </div>

                        </Column>
                    </Columns>
                </div>
            </Column>
        }
    </Columns>
}
@if (_mvFirstApiResultItems?.Count > 0)
{
    <Level IsMobile="true" class="@B.M4">
        <LevelLeft>
            <IconText>
                <Icon IconClass="fa fa-video-camera"></Icon>
            </IconText>
            <span>最新MV</span>
        </LevelLeft>
        <LevelRight>
            <Button IsLight="true" Color="Color.Ghost" @onclick="()=>MoreClick(4)">更多&lt;</Button>
        </LevelRight>
    </Level>
    <Columns IsMobile="true" IsMultiline="true">
        @foreach (var item in _mvFirstApiResultItems)
        {
            <div class="col-12 col-sm-6 col-md-3 col-lg-3">
                <a class=" @B.MB3" href="/mv/@item.id">


                    <NeteaseCloundMusicMobile.Client.Components.PlayListCardItem Count="@item.playCount"
                                                                                 PicUrl="@item.cover"
                                                                                 FooterTitle="@item.name"
                                                                                 FooterDescription="@item.artistName"
                                                                                 CountIconClass="fa fa-video-camera">

                    </NeteaseCloundMusicMobile.Client.Components.PlayListCardItem>
                </a>
            </div>
        }
    </Columns>
}
@if (_djProgramApiResultItems?.Count > 0)
{
    <Level IsMobile="true" class="@B.M4">
        <LevelLeft>
            <IconText>
                <Icon IconClass="fa fa-link"></Icon>
            </IconText>
            <span>主播电台</span>
        </LevelLeft>
        <LevelRight>
            <Button IsLight="true" Color="Color.Ghost" @onclick="()=>MoreClick(5)">更多&lt;</Button>
        </LevelRight>
    </Level>
    <Columns IsMultiline="true">
        @foreach (var item in _djProgramApiResultItems)
        {
            <Column Size="Size.Half">
                <div class="hover-list-item">
                    <Columns IsMobile="true">
                        <Column IsNarrow="true">
                            <Image Size="Size.Square48">
                                <img src="@item.picUrl" />
                            </Image>
                        </Column>
                        <Column class="w-75">

                            <div class=" @B.TextWeightBold  text-nowrap overflow-hidden text-overflow-ellipsis ">@item.name</div>

                            <div class=" font-italic text-nowrap overflow-hidden text-overflow-ellipsis">@item.copywriter</div>
                        </Column>
                    </Columns>
                </div>
            </Column>
        }
    </Columns>
}

