@page "/playlist/{Id:long}"
@inherits RazorComponentBase

@if (_playlist != null)
{
    <div class="@B.M4">
        <Columns>
            <Column IsNarrow="true" class="@B.HiddenMobile">
                <img src="@_playlist.coverImgUrl" style="height:12em" />
            </Column>
            <Column>
                <div>
                    <Level class="@B.MB2" IsMobile="true">
                        <LevelLeft>
                            <Tag IsLight Color="Color.Danger">歌单</Tag>
                        </LevelLeft>
                        <LevelItem class="@B.Join(B.JustifyContentLeft,B.PR2,"text-nowrap","overflow-hidden","text-overflow-ellipsis")">
                            <Subtitle>@_playlist.name</Subtitle>
                        </LevelItem>
                        <LevelRight>
                            <div class="@B.Join(B.Flex,B.TextRight,B.TextGrey,B.HiddenMobile) count-desc  ">
                                <div>
                                    <div>歌曲数</div>
                                    <div>@_playlist.trackCount.ToCountString()</div>
                                </div>
                                <Divider IsVertical="true" class="@B.Join(B.MR2,B.ML2)"></Divider>
                                <div>
                                    <div>播放数</div>
                                    <div>@_playlist.playCount.ToCountString()</div>
                                </div>
                            </div>
                        </LevelRight>
                    </Level>
                    <div class="@B.Join(B.MB2,B.Flex,B.AlignItemsCenter,B.TextGrey) count-desc">

                        <a class="@B.Join(B.Flex,B.AlignItemsCenter)" href="/user/@_playlist.creator.userId">
                            <Image Size="Size.Square32">
                                <img class="@B.Rounded" src="@_playlist.creator.avatarUrl" />
                            </Image>
                            <div class="@B.PL2">@_playlist.creator.nickname</div>
                        </a>
                        <div class="@B.ML4">
                            @(_playlist.createTime.ToDateTime().ToString("d"))创建
                        </div>
                    </div>
                    <div class="@B.Join(B.MB2,B.Flex,B.AlignItemsCenter,B.FlexWrapWrap)  ">
                        <Button class="@B.Join(B.MR4,B.MB4)" IsSmall="true" Color="Color.Danger" @onclick="PlayAllAsync">
                            <Icon IconClass="fa fa-play-circle-o"></Icon>
                            <span>播放全部</span>
                        </Button>

                        <Button class="@B.Join(B.MR4,B.MB4)" IsSmall="true">
                            <Icon IconClass="iconfont icon-folder-add"></Icon>
                            <span>收藏(@(_playlist.subscribedCount.ToCountString()))</span>
                        </Button>
                        <Button class="@B.Join(B.MR4,B.MB4)" IsSmall="true">
                            <Icon IconClass="fa fa-share-square-o"></Icon>
                            <span>分享(@(_playlist.shareCount.ToCountString()))</span>
                        </Button>
                    </div>
                    <div class="@B.Join(B.MB2,B.Flex,B.AlignItemsCenter) count-desc ">
                        <div>标签：</div>
                        @foreach (var item in _playlist.tags as IReadOnlyList<string> ?? Array.Empty<string>())
                        {
                            <a class="playlist-tags " href="/playlist/list?tag=@item">@item</a>
                        }
                    </div>
                    <div class="@B.Join(B.MB2,B.Flex) count-desc ">
                        <div>
                            <div class="text-wrap">
                                简介：@_playlist.description
                            </div>
                        </div>
                        <a>
                            <Icon IconClass="fa fa-chevron-down"></Icon>
                        </a>

                    </div>
                </div>
            </Column>
        </Columns>

        <div class="@B.MT6">

            <Tabs>
                <TabItem Label="歌曲列表">
                    <NeteaseCloundMusicMobile.Client.Components.PlaylistTable @ref="_playlistTable"
                                                                              EnableSearch="true"
                                                                              Tracks="ToDto<List<Models.SongsItem>>(_playlist.tracks)"></NeteaseCloundMusicMobile.Client.Components.PlaylistTable>

                </TabItem>
                <TabItem Label="@($"评论（{_playlist.commentCount.ToCountString()}）")">
                    <NeteaseCloundMusicMobile.Client.Components.Comment CommentThreadId="@_playlist.commentThreadId"></NeteaseCloundMusicMobile.Client.Components.Comment>

                </TabItem>
                <TabItem Label="收藏者">
                    @if (_subscribers?.total > 0)
                    {
                        <div class="@B.Join(B.Flex,B.JustifyContentCenter) w-100">



                            <div class="@B.Join(B.Flex,B.AlignItemsCenter,B.AlignContentCenter,B.FlexWrapWrap,B.JustifyContentLeft) ">
                                @foreach (var item in _subscribers.subscribers)
                                {
                                    <a class="@B.Join(B.Flex,B.AlignItemsCenter,B.FlexDirectionColumn,  B.TextCentered,B.AlignContentCenter,B.M6) el-link subscriber-nickname" href="/user/@item.userId">
                                        <Image Size="Size.Square64">
                                            <img src="@item.avatarUrl" class="@B.Rounded" />
                                        </Image>
                                        <p class="@B.MT2 text-nowrap overflow-hidden text-overflow-ellipsis w-100">@item.nickname</p>
                                    </a>
                                }
                            </div>
                        </div>
                        <div class="@B.Join(B.Flex,B.JustifyContentCenter)  w-100">
                            <Pagination TotalCount="_subscribers.total" PageSize="_subScribersQuery.limit"
                                        OnPageChange="FetchSubscribersAsync"
                                        HideOnSinglePage="true"></Pagination>
                        </div>
                    }
                    else
                    {
                        <NeteaseCloundMusicMobile.Client.Components.Empty></NeteaseCloundMusicMobile.Client.Components.Empty>
                    }
                </TabItem>

            </Tabs>

        </div>
    </div>
}

<Loading IsActive="_playlist==null"></Loading>