@page "/toplist"
@inherits RazorComponentBase
<div class="@B.M4">
    @if (_topPlaylists != null)
    {
        <h2>官方榜</h2>
        <Divider IsVertical="true"></Divider>
        <ul class="@B.Join(B.Flex,B.FlexWrapWrap)">
            @foreach (var item in _topPlaylists.Where(x => !string.IsNullOrEmpty(x.ToplistType)))
            {
                <li class="col-xs-12 col-sm-12 col-md-6">
                    <div class="w-100 border @B.Join(B.M2,B.P2 )">
                        <a href="/playlist/@item.id">
                            <Columns IsMobile="true" class="@B.AlignItemsCenter">
                                <Column IsNarrow="true">
                                    <div class="float-left text-white update-frequency">@item.updateFrequency</div>
                                    <Image Size="Size.Square128">
                                        <img src="@item.coverImgUrl" />
                                    </Image>
                                </Column>
                                <Column class=" overflow-hidden">
                                    <ul class="@B.PL2 w-100 overflow-hidden">
                                        @for (int i = 0; i < 3 && i < item.tracks.Count; i++)
                                        {
                                            <li class="overflow-hidden text-overflow-ellipsis text-nowrap ">

                                                @(i+1)、@(item.tracks[i].first)-@(item.tracks[i].second)
                                            </li>
                                        }
                                    </ul>
                                </Column>
                            </Columns>

                        </a>
                    </div>
                </li>
            }
            @if (_artistToplist != null)
            {
                <li class="col-xs-12 col-sm-12 col-md-6">
                    <div class="w-100 border @B.Join(B.M2,B.P2 )">
                        <a href="/topartist/1">
                            <Columns IsMobile="true" class="@B.AlignItemsCenter">
                                <Column IsNarrow="true">
                                    <div class="float-left text-white update-frequency">@_artistToplist.updateFrequency</div>
                                    <Image Size="Size.Square128">
                                        <img src="@_artistToplist.coverUrl" />
                                    </Image>
                                </Column>
                                <Column class=" overflow-hidden">
                                    <ul class="@B.PL2 w-100 overflow-hidden">
                                        @for (int i = 0; i < 3 && i < _artistToplist.artists.Count; i++)
                                        {
                                            <li class="overflow-hidden text-overflow-ellipsis text-nowrap ">

                                                @(i+1)、@(_artistToplist.artists[i].first)
                                                <Icon IconClass="fa fa-cloud"></Icon>
                                                <span>@_artistToplist.artists[i].third</span>
                                            </li>
                                        }
                                    </ul>
                                </Column>
                            </Columns>
                        </a>
                    </div>
                </li>
            }
        </ul>
        <h2>全球榜</h2>
        <Divider IsVertical="true"></Divider>
        <ul class="@B.Join(B.Flex,B.FlexWrapWrap)">
            @foreach (var item in _topPlaylists.Where(x => string.IsNullOrEmpty(x.ToplistType)))
            {
                <li class="col-6 col-sm-4 col-md-3 col-lg-2">
                    <div class="w-100 border @B.Join(B.M2,B.P2 )">
                        <a href="/playlist/@item.id">
                            <div class="@B.Join(B.Flex,B.FlexDirectionColumn,B.AlignContentCenter)">
                                <div class="@B.MB1">
                                    <div class="float-right text-white play-count">
                                        <Icon IconClass="fa fa-headphones"></Icon>
                                        <span>
                                            @item.playCount.ToCountString()
                                        </span>
                                  
                                    </div>
                                    <Image Ratio="Ratio.Ratio1by1">
                                        <img src="@item.coverImgUrl" />
                                    </Image>
                                </div>
                                <p class="text-center text-nowrap overflow-hidden text-overflow-ellipsis" >@item.name</p>
                            </div>
                        </a>
                    </div>
                </li>
            }
        </ul>
    }
</div>
<Loading IsActive="_topPlaylists==null"></Loading>